body, html {

  margin: 0;
  height: 100%;
  background-color: white;
}

ul{
  float: left;
  list-style-type: none;
  color: white;
  margin-top: 2vw;
  margin-left: -1vw;
}
li{


  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  margin-bottom: 0.3vw;

}
a{
  text-decoration: none;
}

#logo{

  height: 14vw;
  float: left;
  margin-left: 3vw;
  margin-top: 2vw;


}
#navContainer{
  width: 100%;
  height: 20vw;

}

#navDiv{

  width: 15vw;
  height: 14vw;
  margin-top: 2vw;
  float: left;
}
#web-design{
  white-space: nowrap;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 2vw;
}


.navLink{
  color: black;

}
